body {
    background-color: #e5e5e5;
    box-sizing: border-box;
}

.sebet {
    box-sizing: border-box;
    i {
        display: block;
        cursor: pointer;
    }
    .cart-content {
        display: inline-block;
        background-color: #fff;
        visibility: hidden;
        width: 271px;
        &.plus {
            visibility: visible;
        }
        .cart-head {
            h3 {
                font-size: 15px;
                font-weight: 600;
                color: #444;
                padding-left: 15px;
            }
        }
        .cart-items {
            border-top: 1px solid #e7e7e7;
            border-bottom: 1px solid #e7e7e7;
            hr {
                width: 242px;
                border-block-start: none;
            }
            .cart-item {
                display: flex;
                .img {
                    display: inline-block;
                    padding-top: 15px;
                    padding-left: 14px;
                    img {
                        transition: all 0.2s linear;
                        border: 2px solid #e5e5e5;
                        cursor: pointer;
                        &:hover {
                            border: 2px solid #1abc9c;
                            // transition: all 0.2s linear;
                        }
                    }
                }
                .cart-text {
                    display: flex;
                    flex-direction: column;
                    a {
                        text-decoration: none;
                        font-size: 13px;
                        color: #333;
                        display: inline-block;
                        padding: 15px 17px 0px;
                        font-weight: 600;
                        line-height: 1.2;
                        letter-spacing: 0.5px;
                        &:hover {
                            color: #1abc9c;
                            ;
                        }
                    }
                    span {
                        padding: 9px 17px 13px;
                        font-size: 13px;
                        color: #999;
                    }
                }
            }
        }
        .cart-sale {
            span {
                display: inline-block;
                color: #1abc9c;
                font-size: 22px;
                padding: 15px 16px 15px;
            }
            a {
                text-decoration: none;
                font-size: 12px;
                background-color: #1abc9c;
                color: white;
                display: inline-block;
                width: 102px;
                text-align: center;
                height: 30px;
                box-shadow: 0px 2px 0px 0px #25d9b5;
                border-radius: 3px;
                line-height: 2.6;
                margin-left: 35px;
                &:hover {
                    background-color: #1dc4a2;
                }
            }
        }
    }
}